ClarityNotes/.vs/

ClarityNotes/ClarityNotes.Android/obj/
ClarityNotes/ClarityNotes.UWP/obj/
ClarityNotes/ClarityNotes.iOS/obj/
ClarityNotes/ClarityNotes/obj/

ClarityNotes/ClarityNotes.Android/bin/
ClarityNotes/ClarityNotes.UWP/bin/
ClarityNotes/ClarityNotes.iOS/bin/
ClarityNotes/ClarityNotes/bin/
ClarityNotes/ClarityNotes.UWP/AppPackages/
ClarityNotes/ClarityNotes.UWP/BundleArtifacts/
.vs/
obj/
bin/